{% extends "template.jinja2" %}
{% block content %}
    <h2>Thank You</h2>
    <p>{{ name }}, please review your submission below. <a href="mailto:lecturecapture@uwosh.edu">Contact us</a> with any corrections.</p>
    <p>After reviewing, you can submit another <a href="{{ request.route_path('request') }}">lecture capture setup request</a> or <a href="{{ request.route_path('logout') }}">logout</a>.</p>
    <form method="post" action="/">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <p>Embed videos on course homepage: {{ requestDetails['embed'] }}</p>
        <p>Allow students to download recordings: {{ requestDetails['download'] }}</p>
        <p>Allow students to share recordings: {{ requestDetails['share'] }}</p>
        <p>Course OU number in D2L: {{ requestDetails['courseId'] }}</p>
        <p>Recording location: {{ requestDetails['location'] }}</p>
        <p>Course name: {{ requestDetails['courseName'] }}</p>
        <p>Expiration date: {{ requestDetails['expiration'] }}</p>
        <p>Training requested: {{ requestDetails['training'] }}</p>
        <p>Comments:<br /> {{ requestDetails['comments'] }}</p>
    </form>
{% endblock %}
